.custom-card{
    background-color: midnightblue;
    text-align: center;
}

button{
    background-color: midnightblue;
    max-width: 300px;
    color: white;
}
.app{
    text-align: center;
    padding: 20px;
    margin: 24px auto;
}
h1{
font-size: 35px;
color: midnightblue;
font-weight: bold;
}