.custom-card{
    background-color: midnightblue;
    text-align: center;
}

button{
    background-color: midnightblue;
    width: 300px;
    color: white;
}
.app{
    text-align: center;
    padding: 20px;
}